<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teams</title>
    <link rel="stylesheet" type="text/css" href="teams.css">
</head>
<body>
    <div class="sidebar">
        <div><a href="/">Home</a></div>
        <div><a href="/teams">Teams</a></div>
    </div>

    <div class="header">
        <h1>Soccer Management System</h1>
    </div>

    <div class="main-content">
        <h2>Teams</h2>
        <table id="teamTable">
            <thead>
                <tr>
                    <th>Team Logo</th>
                    <th>Team Name</th>
                    <th>Season</th>
                    <th>Year</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% teams.forEach(team => { %>
                    <tr>
                        <td><img src="<%= team.logoUrl %>" alt="<%= team.name %> Logo" class="team-logo"></td>
                        <td><%= team.name %></td>
                        <td><%= team.season %></td>
                        <td><%= team.year %></td>
                        <td>
                            <a href="/teams/editTeam/<%= team._id %>"class="edit-button">Edit</a>
                            <button class="delete-button" data-team-id="<%= team._id %>">Delete</button>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <a href="/addTeam" class="add-button">Add Team</a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const deleteButtons = document.querySelectorAll('.delete-button');
            deleteButtons.forEach(button => {
                button.addEventListener('click', async (event) => {
                    const teamId = event.target.dataset.teamId;

                    if (confirm('Are you sure you want to delete?')) {
                        try {
                            const response = await fetch(`/teams/deleteTeam/${teamId}`, {
                                method: 'DELETE'
                            });

                            if (response.ok) {
                                const data = await response.json(); // Parse JSON response (if sent from server)
                                // Remove deleted item from the table 
                                event.target.closest('tr').remove();
                            } else {
                                console.error('Error deleting team:', response.statusText);
                                // Display an error message to the user
                                alert('Error deleting team. Please try again.');
                            }

                        } catch (error) {
                            console.error('Error deleting team:', error);
                            alert('An error occurred while deleting the team.');
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>


